@import "variables";

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  gap: $card-gapY $card-gapX;
  grid-auto-flow: row;
  justify-content: center;
  max-width: 1024px;
}
