$basic-font: roboto, sans-serif;
$font-size-small: 11px;
$font-size-basic: 12px;
$font-size-big: 16px;
$header-height: 60px;
$card-width: 200px;
$card-height: 403px;
$card-gapX:48px;
$card-gapY: 50px;
$color-blue: #00acdc;
$color-black: #000;
$color-white: #fff;
$color-border: #f3f3f3;
